.root {
    -fx-background-color: #E0E0E0; /* Light grey background */
    -fx-font-family: 'Arial', sans-serif; /* Modern sans-serif font */
}

.text-field {
    -fx-control-inner-background: #E0E0E0; /* Light grey */
    -fx-text-fill: #212121; /* Almost black */
    -fx-font-size: 16pt;
    -fx-font-weight: normal;
    -fx-border-color: transparent; /* No border */
    -fx-border-width: 0px;
    -fx-border-radius: 10px;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.1), 10, 0.0, 4, 4);
}

.button {
    -fx-background-color: #E0E0E0; /* Light grey */
    -fx-text-fill: #757575; /* Medium-dark grey */
    -fx-font-size: 14pt;
    -fx-border-color: transparent; /* No border */
    -fx-border-width: 0px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0.0, 4, 4);
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0.0, 4, 4);
}

.button:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.2), 10, 0.0, 4, 4);
}

.button-clear, .button-equal {
    -fx-background-color: #B0BEC5; /* Light blue-grey */
    -fx-text-fill: #FFFFFF; /* White text */
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0.0, 4, 4);
}

.button-clear:hover, .button-equal:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0.0, 4, 4);
}

.button-clear:pressed, .button-equal:pressed {
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.2), 10, 0.0, 4, 4);
}

.display {
    -fx-background-color: #E0E0E0; /* Light grey */
    -fx-text-fill: #212121; /* Almost black */
    -fx-alignment: center-right;
    -fx-font-size: 18pt;
    -fx-padding: 10px;
    -fx-border-color: transparent; /* No border */
    -fx-border-width: 0px;
    -fx-border-radius: 10px;
    -fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.1), 10, 0.0, 4, 4);
}
